advworksdatafactory1/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "advworksdatafactory1"
		},
		"SQLServerOnPrem_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'SQLServerOnPrem'",
			"defaultValue": "Integrated Security=False;Data Source=AKBAR-ATTAMIMI;Initial Catalog=AdventureWorks2022;User ID=sa"
		},
		"AzureDataLakeStorageGen2_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://advworkdatalakegen2.dfs.core.windows.net/"
		},
		"AzureKeyVault_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://az-kv-advworks.vault.azure.net/"
		},
		"SHIR_properties_typeProperties_linkedInfo_resourceId": {
			"type": "string",
			"defaultValue": "/subscriptions/af70eea1-a52b-4f7b-aa37-fd9a33aa5136/resourcegroups/azure-tutorial-de/providers/Microsoft.DataFactory/factories/adftutorialde/integrationruntimes/SHIR"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Bulk Copy and ETL Processes Pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup Table List",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "select * from [AdventureWorks2022].INFORMATION_SCHEMA.TABLES where TABLE_TYPE='BASE TABLE' AND TABLE_SCHEMA='Sales';",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SQLServerTableList",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup Table List",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup Table List').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy Data",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "SqlServerTableForEach",
											"type": "DatasetReference",
											"parameters": {
												"schemaName": {
													"value": "@item().TABLE_SCHEMA",
													"type": "Expression"
												},
												"tableName": {
													"value": "@item().TABLE_NAME",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DelimitedTextAdvWorks",
											"type": "DatasetReference",
											"parameters": {
												"fileName": {
													"value": "@concat(item().TABLE_NAME, '.csv')",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					},
					{
						"name": "ETL Sales Person Performance",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "ForEach1",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "salesperformance",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"SalesPersonCSV": {},
									"SalesTerritoryCSV": {},
									"SalesOrderHeader": {},
									"SalesPersonPerformanceSink": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "ETL Territory Sales Performance",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "ETL Sales Person Performance",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "territoriessales",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"SalesTerritoryCSV": {},
									"SalesHeaderCSV": {},
									"TerritoriesSalesPerformanceSink": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "ETL Top 5 Product in Territories",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "ETL Territory Sales Performance",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "top5products",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"SalesOrderDetailCSV": {},
									"SalesOrderHeaderCSV": {},
									"SalesTerritoryCSV": {},
									"Top5ProductsSink": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SQLServerTableList')]",
				"[concat(variables('factoryId'), '/dataflows/salesperformance')]",
				"[concat(variables('factoryId'), '/dataflows/territoriessales')]",
				"[concat(variables('factoryId'), '/dataflows/top5products')]",
				"[concat(variables('factoryId'), '/datasets/SqlServerTableForEach')]",
				"[concat(variables('factoryId'), '/datasets/DelimitedTextAdvWorks')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipelineTestDataFlow2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Data flow1",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "territoriessales",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"SalesTerritoryCSV": {},
									"SalesHeaderCSV": {},
									"TerritoriesSalesPerformanceSink": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/territoriessales')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipelineTestDataFlow3')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Data flow1",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "top5products",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"SalesOrderDetailCSV": {},
									"SalesOrderHeaderCSV": {},
									"SalesTerritoryCSV": {},
									"Top5ProductsSink": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/top5products')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipelineTestDataflow1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Data flow1",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "salesperformance",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"SalesPersonCSV": {},
									"SalesTerritoryCSV": {},
									"SalesOrderHeader": {},
									"SalesPersonPerformanceSink": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/salesperformance')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedTextAdvWorks')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorageGen2",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"fileName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().fileName",
							"type": "Expression"
						},
						"fileSystem": "raw"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorageGen2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ParquetDataAdvWorks')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorageGen2",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"fileName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().fileName",
							"type": "Expression"
						},
						"fileSystem": "raw"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorageGen2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SQLServerTableList')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SQLServerOnPrem",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SQLServerOnPrem')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SalesOrderDetailCSV')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorageGen2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "SalesOrderDetail.csv",
						"fileSystem": "raw"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "SalesOrderID",
						"type": "String"
					},
					{
						"name": "SalesOrderDetailID",
						"type": "String"
					},
					{
						"name": "CarrierTrackingNumber",
						"type": "String"
					},
					{
						"name": "OrderQty",
						"type": "String"
					},
					{
						"name": "ProductID",
						"type": "String"
					},
					{
						"name": "SpecialOfferID",
						"type": "String"
					},
					{
						"name": "UnitPrice",
						"type": "String"
					},
					{
						"name": "UnitPriceDiscount",
						"type": "String"
					},
					{
						"name": "LineTotal",
						"type": "String"
					},
					{
						"name": "rowguid",
						"type": "String"
					},
					{
						"name": "ModifiedDate",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorageGen2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SalesOrderHeaderCSV')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorageGen2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "SalesOrderHeader.csv",
						"fileSystem": "raw"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "SalesOrderID",
						"type": "String"
					},
					{
						"name": "RevisionNumber",
						"type": "String"
					},
					{
						"name": "OrderDate",
						"type": "String"
					},
					{
						"name": "DueDate",
						"type": "String"
					},
					{
						"name": "ShipDate",
						"type": "String"
					},
					{
						"name": "Status",
						"type": "String"
					},
					{
						"name": "OnlineOrderFlag",
						"type": "String"
					},
					{
						"name": "SalesOrderNumber",
						"type": "String"
					},
					{
						"name": "PurchaseOrderNumber",
						"type": "String"
					},
					{
						"name": "AccountNumber",
						"type": "String"
					},
					{
						"name": "CustomerID",
						"type": "String"
					},
					{
						"name": "SalesPersonID",
						"type": "String"
					},
					{
						"name": "TerritoryID",
						"type": "String"
					},
					{
						"name": "BillToAddressID",
						"type": "String"
					},
					{
						"name": "ShipToAddressID",
						"type": "String"
					},
					{
						"name": "ShipMethodID",
						"type": "String"
					},
					{
						"name": "CreditCardID",
						"type": "String"
					},
					{
						"name": "CreditCardApprovalCode",
						"type": "String"
					},
					{
						"name": "CurrencyRateID",
						"type": "String"
					},
					{
						"name": "SubTotal",
						"type": "String"
					},
					{
						"name": "TaxAmt",
						"type": "String"
					},
					{
						"name": "Freight",
						"type": "String"
					},
					{
						"name": "TotalDue",
						"type": "String"
					},
					{
						"name": "Comment",
						"type": "String"
					},
					{
						"name": "rowguid",
						"type": "String"
					},
					{
						"name": "ModifiedDate",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorageGen2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SalesPersonCSV')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorageGen2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "SalesPerson.csv",
						"fileSystem": "raw"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "BusinessEntityID",
						"type": "String"
					},
					{
						"name": "TerritoryID",
						"type": "String"
					},
					{
						"name": "SalesQuota",
						"type": "String"
					},
					{
						"name": "Bonus",
						"type": "String"
					},
					{
						"name": "CommissionPct",
						"type": "String"
					},
					{
						"name": "SalesYTD",
						"type": "String"
					},
					{
						"name": "SalesLastYear",
						"type": "String"
					},
					{
						"name": "rowguid",
						"type": "String"
					},
					{
						"name": "ModifiedDate",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorageGen2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SalesPersonPerformanceSink')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorageGen2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "transformed"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorageGen2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SalesTerritoryCSV')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorageGen2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "SalesTerritory.csv",
						"fileSystem": "raw"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "TerritoryID",
						"type": "String"
					},
					{
						"name": "Name",
						"type": "String"
					},
					{
						"name": "CountryRegionCode",
						"type": "String"
					},
					{
						"name": "Group",
						"type": "String"
					},
					{
						"name": "SalesYTD",
						"type": "String"
					},
					{
						"name": "SalesLastYear",
						"type": "String"
					},
					{
						"name": "CostYTD",
						"type": "String"
					},
					{
						"name": "CostLastYear",
						"type": "String"
					},
					{
						"name": "rowguid",
						"type": "String"
					},
					{
						"name": "ModifiedDate",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorageGen2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServerTableForEach')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SQLServerOnPrem",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"schemaName": {
						"type": "string"
					},
					"tableName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().schemaName",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().tableName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SQLServerOnPrem')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/TerritoriesSales2012')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorageGen2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "transformed"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorageGen2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/TerritoriesSalesPerformanceSink')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorageGen2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "transformed"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorageGen2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Top5ProductsSink')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorageGen2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "transformed"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorageGen2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeStorageGen2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('AzureDataLakeStorageGen2_properties_typeProperties_url')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureKeyVault')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('AzureKeyVault_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SQLServerOnPrem')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('SQLServerOnPrem_connectionString')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AzureKeyVault",
							"type": "LinkedServiceReference"
						},
						"secretName": "dbpass"
					}
				},
				"connectVia": {
					"referenceName": "SHIR",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/SHIR')]",
				"[concat(variables('factoryId'), '/linkedServices/AzureKeyVault')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SHIR')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {
					"linkedInfo": {
						"resourceId": "[parameters('SHIR_properties_typeProperties_linkedInfo_resourceId')]",
						"authorizationType": "Rbac"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/salesperformance')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "SalesPersonCSV",
								"type": "DatasetReference"
							},
							"name": "SalesPersonCSV"
						},
						{
							"dataset": {
								"referenceName": "SalesTerritoryCSV",
								"type": "DatasetReference"
							},
							"name": "SalesTerritoryCSV"
						},
						{
							"dataset": {
								"referenceName": "SalesOrderHeaderCSV",
								"type": "DatasetReference"
							},
							"name": "SalesOrderHeader"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "SalesPersonPerformanceSink",
								"type": "DatasetReference"
							},
							"name": "SalesPersonPerformanceSink"
						}
					],
					"transformations": [
						{
							"name": "LookupPersonTerritory"
						},
						{
							"name": "LookupPersonTerritorySales"
						},
						{
							"name": "filterYearOnlineFlag"
						},
						{
							"name": "aggregate1"
						},
						{
							"name": "PctSalesContributionToTerritory"
						},
						{
							"name": "selectColumns"
						}
					],
					"scriptLines": [
						"source(output(",
						"          BusinessEntityID as short,",
						"          TerritoryID as short,",
						"          SalesQuota as double,",
						"          Bonus as double,",
						"          CommissionPct as double,",
						"          SalesYTD as double,",
						"          SalesLastYear as double,",
						"          rowguid as string,",
						"          ModifiedDate as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> SalesPersonCSV",
						"source(output(",
						"          TerritoryID as short,",
						"          Name as string,",
						"          CountryRegionCode as string,",
						"          Group as string,",
						"          SalesYTD as double,",
						"          SalesLastYear as double,",
						"          CostYTD as double,",
						"          CostLastYear as double,",
						"          rowguid as string,",
						"          ModifiedDate as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> SalesTerritoryCSV",
						"source(output(",
						"          SalesOrderID as integer,",
						"          RevisionNumber as short,",
						"          OrderDate as date,",
						"          DueDate as string,",
						"          ShipDate as string,",
						"          Status as short,",
						"          OnlineOrderFlag as boolean,",
						"          SalesOrderNumber as string,",
						"          PurchaseOrderNumber as string,",
						"          AccountNumber as string,",
						"          CustomerID as short,",
						"          SalesPersonID as short,",
						"          TerritoryID as short,",
						"          BillToAddressID as short,",
						"          ShipToAddressID as short,",
						"          ShipMethodID as short,",
						"          CreditCardID as short,",
						"          CreditCardApprovalCode as string,",
						"          CurrencyRateID as short,",
						"          SubTotal as double,",
						"          TaxAmt as double,",
						"          Freight as double,",
						"          TotalDue as double,",
						"          Comment as string,",
						"          rowguid as string,",
						"          ModifiedDate as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> SalesOrderHeader",
						"SalesPersonCSV, SalesTerritoryCSV lookup(SalesPersonCSV@TerritoryID == SalesTerritoryCSV@TerritoryID,",
						"     multiple: false,",
						"     pickup: 'any',",
						"     broadcast: 'auto')~> LookupPersonTerritory",
						"SalesOrderHeader, PctSalesContributionToTerritory lookup(SalesPersonID == BusinessEntityID,",
						"     multiple: false,",
						"     pickup: 'any',",
						"     broadcast: 'auto')~> LookupPersonTerritorySales",
						"LookupPersonTerritorySales filter(year(OrderDate)==2013 && OnlineOrderFlag==toBoolean('0')) ~> filterYearOnlineFlag",
						"filterYearOnlineFlag aggregate(groupBy(BusinessEntityID,",
						"          Name,",
						"          Group,",
						"          SalesQuota,",
						"          SalesPersonCSV@SalesYTD,",
						"          SalesPersonCSV@SalesLastYear,",
						"          PctSalesContributionToTerritory),",
						"     NumberOfOrdersLastYear = count(SalesOrderID),",
						"          AverageOrderTotalLastYear = avg(TotalDue)) ~> aggregate1",
						"LookupPersonTerritory derive(PctSalesContributionToTerritory = SalesPersonCSV@SalesLastYear/SalesTerritoryCSV@SalesLastYear) ~> PctSalesContributionToTerritory",
						"aggregate1 select(mapColumn(",
						"          BusinessEntityID,",
						"          Name,",
						"          Group,",
						"          SalesQuota,",
						"          SalesYTD,",
						"          SalesLastYear,",
						"          PctSalesContributionToTerritory,",
						"          NumberOfOrdersLastYear,",
						"          AverageOrderTotalLastYear",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> selectColumns",
						"selectColumns sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     partitionFileNames:['sales-person-performance.csv'],",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> SalesPersonPerformanceSink"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SalesPersonCSV')]",
				"[concat(variables('factoryId'), '/datasets/SalesTerritoryCSV')]",
				"[concat(variables('factoryId'), '/datasets/SalesOrderHeaderCSV')]",
				"[concat(variables('factoryId'), '/datasets/SalesPersonPerformanceSink')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/territoriessales')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "SalesTerritoryCSV",
								"type": "DatasetReference"
							},
							"name": "SalesTerritoryCSV"
						},
						{
							"dataset": {
								"referenceName": "SalesOrderHeaderCSV",
								"type": "DatasetReference"
							},
							"name": "SalesHeaderCSV"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "TerritoriesSalesPerformanceSink",
								"type": "DatasetReference"
							},
							"name": "TerritoriesSalesPerformanceSink"
						}
					],
					"transformations": [
						{
							"name": "lookupTerritory"
						},
						{
							"name": "filterYear2012"
						},
						{
							"name": "TotalSale2012"
						},
						{
							"name": "filterYear2013"
						},
						{
							"name": "aggregateByTerritory"
						},
						{
							"name": "joinTerritory201213"
						},
						{
							"name": "derivedColumn"
						},
						{
							"name": "selectColumns"
						}
					],
					"scriptLines": [
						"source(output(",
						"          TerritoryID as short,",
						"          Name as string,",
						"          CountryRegionCode as string,",
						"          Group as string,",
						"          SalesYTD as double,",
						"          SalesLastYear as double,",
						"          CostYTD as double,",
						"          CostLastYear as double,",
						"          rowguid as string,",
						"          ModifiedDate as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> SalesTerritoryCSV",
						"source(output(",
						"          SalesOrderID as integer,",
						"          RevisionNumber as short,",
						"          OrderDate as date,",
						"          DueDate as date,",
						"          ShipDate as date,",
						"          Status as short,",
						"          OnlineOrderFlag as boolean,",
						"          SalesOrderNumber as string,",
						"          PurchaseOrderNumber as string,",
						"          AccountNumber as string,",
						"          CustomerID as short,",
						"          SalesPersonID as short,",
						"          TerritoryID as short,",
						"          BillToAddressID as short,",
						"          ShipToAddressID as short,",
						"          ShipMethodID as short,",
						"          CreditCardID as short,",
						"          CreditCardApprovalCode as string,",
						"          CurrencyRateID as short,",
						"          SubTotal as double,",
						"          TaxAmt as double,",
						"          Freight as double,",
						"          TotalDue as double,",
						"          Comment as string,",
						"          rowguid as string,",
						"          ModifiedDate as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> SalesHeaderCSV",
						"SalesHeaderCSV, SalesTerritoryCSV lookup(SalesHeaderCSV@TerritoryID == SalesTerritoryCSV@TerritoryID,",
						"     multiple: false,",
						"     pickup: 'any',",
						"     broadcast: 'auto')~> lookupTerritory",
						"lookupTerritory filter(year(OrderDate)==2012) ~> filterYear2012",
						"filterYear2012 aggregate(groupBy(SalesTerritoryCSV@TerritoryID),",
						"     NumberOfOrders = count(SalesOrderID),",
						"          AverageOrderTotal = avg(TotalDue),",
						"          TotalSales = sum(TotalDue)) ~> TotalSale2012",
						"lookupTerritory filter(year(OrderDate)==2013) ~> filterYear2013",
						"filterYear2013 aggregate(groupBy(SalesTerritoryCSV@TerritoryID,",
						"          Name,",
						"          CountryRegionCode,",
						"          Group,",
						"          SalesYTD,",
						"          SalesLastYear,",
						"          CostYTD,",
						"          CostLastYear),",
						"     TotalSales = sum(TotalDue),",
						"          NumberOfOrdersLastYear = count(SalesOrderID),",
						"          AverageSaleLastYear = avg(TotalDue)) ~> aggregateByTerritory",
						"aggregateByTerritory, TotalSale2012 join(aggregateByTerritory@TerritoryID == TotalSale2012@TerritoryID,",
						"     joinType:'inner',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> joinTerritory201213",
						"joinTerritory201213 derive(PctSalesGrowth = (aggregateByTerritory@TotalSales-TotalSale2012@TotalSales)/TotalSale2012@TerritoryID,",
						"          PctAverageSaleGrowth = (AverageSaleLastYear-AverageOrderTotal)/AverageOrderTotal) ~> derivedColumn",
						"derivedColumn select(mapColumn(",
						"          TerritoryID = aggregateByTerritory@TerritoryID,",
						"          Name,",
						"          CountryRegionCode,",
						"          Group,",
						"          SalesYTD,",
						"          CostYTD,",
						"          Cost2013 = CostLastYear,",
						"          TotalSales2012 = TotalSale2012@TotalSales,",
						"          TotalSales2013 = aggregateByTerritory@TotalSales,",
						"          PctSalesGrowth,",
						"          NumberOfOrders2012 = NumberOfOrders,",
						"          NumberOfOrders2013 = NumberOfOrdersLastYear,",
						"          AverageSale2012 = AverageOrderTotal,",
						"          AverageSale2013 = AverageSaleLastYear,",
						"          PctAverageSaleGrowth",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> selectColumns",
						"selectColumns sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     partitionFileNames:['territories-sales-performance.csv'],",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> TerritoriesSalesPerformanceSink"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SalesTerritoryCSV')]",
				"[concat(variables('factoryId'), '/datasets/SalesOrderHeaderCSV')]",
				"[concat(variables('factoryId'), '/datasets/TerritoriesSalesPerformanceSink')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/top5products')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "SalesOrderDetailCSV",
								"type": "DatasetReference"
							},
							"name": "SalesOrderDetailCSV"
						},
						{
							"dataset": {
								"referenceName": "SalesOrderHeaderCSV",
								"type": "DatasetReference"
							},
							"name": "SalesOrderHeaderCSV"
						},
						{
							"dataset": {
								"referenceName": "SalesTerritoryCSV",
								"type": "DatasetReference"
							},
							"name": "SalesTerritoryCSV"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "Top5ProductsSink",
								"type": "DatasetReference"
							},
							"name": "Top5ProductsSink"
						}
					],
					"transformations": [
						{
							"name": "SalesHeaderTerritory"
						},
						{
							"name": "SalesDetailHeader"
						},
						{
							"name": "OrderYear2013"
						},
						{
							"name": "AggregateByTerritoryProduct"
						},
						{
							"name": "Top5Product"
						},
						{
							"name": "RankTop5"
						}
					],
					"scriptLines": [
						"source(output(",
						"          SalesOrderID as integer,",
						"          SalesOrderDetailID as short,",
						"          CarrierTrackingNumber as string,",
						"          OrderQty as short,",
						"          ProductID as short,",
						"          SpecialOfferID as short,",
						"          UnitPrice as double,",
						"          UnitPriceDiscount as double,",
						"          LineTotal as double,",
						"          rowguid as string,",
						"          ModifiedDate as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> SalesOrderDetailCSV",
						"source(output(",
						"          SalesOrderID as integer,",
						"          RevisionNumber as short,",
						"          OrderDate as date,",
						"          DueDate as date,",
						"          ShipDate as date,",
						"          Status as short,",
						"          OnlineOrderFlag as boolean,",
						"          SalesOrderNumber as string,",
						"          PurchaseOrderNumber as string,",
						"          AccountNumber as string,",
						"          CustomerID as short,",
						"          SalesPersonID as short,",
						"          TerritoryID as short,",
						"          BillToAddressID as short,",
						"          ShipToAddressID as short,",
						"          ShipMethodID as short,",
						"          CreditCardID as short,",
						"          CreditCardApprovalCode as string,",
						"          CurrencyRateID as short,",
						"          SubTotal as double,",
						"          TaxAmt as double,",
						"          Freight as double,",
						"          TotalDue as double,",
						"          Comment as string,",
						"          rowguid as string,",
						"          ModifiedDate as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> SalesOrderHeaderCSV",
						"source(output(",
						"          TerritoryID as short,",
						"          Name as string,",
						"          CountryRegionCode as string,",
						"          Group as string,",
						"          SalesYTD as double,",
						"          SalesLastYear as double,",
						"          CostYTD as double,",
						"          CostLastYear as double,",
						"          rowguid as string,",
						"          ModifiedDate as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> SalesTerritoryCSV",
						"SalesOrderHeaderCSV, SalesTerritoryCSV lookup(SalesOrderHeaderCSV@TerritoryID == SalesTerritoryCSV@TerritoryID,",
						"     multiple: false,",
						"     pickup: 'any',",
						"     broadcast: 'auto')~> SalesHeaderTerritory",
						"SalesOrderDetailCSV, SalesHeaderTerritory lookup(SalesOrderDetailCSV@SalesOrderID == SalesOrderHeaderCSV@SalesOrderID,",
						"     multiple: false,",
						"     pickup: 'any',",
						"     broadcast: 'auto')~> SalesDetailHeader",
						"SalesDetailHeader filter(year(OrderDate)==2013) ~> OrderYear2013",
						"OrderYear2013 aggregate(groupBy(SalesTerritoryCSV@TerritoryID,",
						"          Name,",
						"          Group,",
						"          ProductID),",
						"     TotalOrderQty = sum(OrderQty)) ~> AggregateByTerritoryProduct",
						"AggregateByTerritoryProduct window(over(TerritoryID),",
						"     desc(TotalOrderQty, true),",
						"     Rank = rowNumber()) ~> Top5Product",
						"Top5Product filter(Rank<=5) ~> RankTop5",
						"RankTop5 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     partitionFileNames:['top-5-products-in-territories.csv'],",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> Top5ProductsSink"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SalesOrderDetailCSV')]",
				"[concat(variables('factoryId'), '/datasets/SalesOrderHeaderCSV')]",
				"[concat(variables('factoryId'), '/datasets/SalesTerritoryCSV')]",
				"[concat(variables('factoryId'), '/datasets/Top5ProductsSink')]"
			]
		}
	]
}